absl-py==0.12.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==21.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
bleach==3.3.0
cached-property==1.5.2
cachetools==4.2.2
captcha==0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler==0.10.0
Cython==0.29.23
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
easydict==1.7
einops==0.4.1
entrypoints==0.3
ffmpeg-python==0.2.0
future==0.18.2
gast==0.2.2
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grad-cam==1.3.9
grpcio==1.37.1
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==4.2.0
ipykernel==5.5.5
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
ISR==2.2.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json-tricks==3.15.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-console==6.4.0
jupyter-core @ file:///C:/ci/jupyter_core_1612213536848/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
mpi4py==3.0.3
munkres==1.1.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.2.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.0
ptflops==0.6.9
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools-windows==2.0.0.2
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz==2021.1
PyWavelets==1.1.1
pywin32==300
pywinpty==1.1.1
PyYAML==5.4.1
pyzbar==0.1.8
pyzmq==22.1.0
qrcode==7.3
qtconsole==5.1.0
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
tensorboard==2.0.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
tifffile==2020.9.3
timm==0.5.4
torch==1.8.1+cu111
torch-lr-finder==0.2.1
torchaudio==0.8.1
torchlight==1.0
torchstat==0.0.7
torchvision==0.9.1+cu111
tornado @ file:///C:/ci/tornado_1606942379977/work
tqdm==4.60.0
traitlets==4.3.3
ttach==0.0.3
typing-extensions==3.10.0.0
urllib3==1.26.4
vit-pytorch==0.28.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==2.0.0
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.13.3
xlrd==1.2.0
yacs==0.1.8
youtube-dl==2021.12.17
zipp==3.4.1
